<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>login Page</title>
  <link rel="stylesheet"type="text/css" href="css/style.css">
</head>
<body>
  <form action="userlogin" method="post">
    <div class="signin">
      <div class="signinInput">
        <h1>Sign in</h1>
        <hr>
    
        <label for="email"><b>Email</b></label>
        <input type="text" placeholder="Enter Email" name="email" id="email" required>
    
        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" id="psw" required>
    
        <hr>
        <button type="submit" class="registerbtn">Sign in</button>
      </div>
    </div>
  </form>

  <script src="signup.js"></script>
  
</body>
</html>